/*=============== FUENTE ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --background-color: #fff;
  --background-color-light:#f5f5f5;
  --background-footer: #3A3A3A;
  --color-primary: #c3dc00;
  --color-black: #000000;
  --text-color-white: #fff;
  --text-color-black: #000000;
  --text-color-secundary: #9fa1ad;
  
 

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  
}
section{
  background-color: #fff;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--text-color-black);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1150px;
  margin-inline: 1.5rem;
}

.section {
  padding-block: 5rem 5rem;
}
.grid {
  display: grid;
  gap: 3rem;
}

/* .section {
  padding-block: 5rem 2rem;
} */

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--color-black);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
}
.nav__logo{
  width: 8rem;
}

.nav__toggle,
.nav__close{
  display: flex;
  font-size: 1.25rem;
  color: var(--background-color);
  cursor: pointer;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    font-size: var(--h2-font-size);
    text-align: center;
    background-color: hsla(0, 0%, 5%, .3);
    width: 50%;
    height: 100%;
    padding: 4.5rem 0 0 ;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /*para safari*/
    transition: right .4s;
  }
  .nav a{
    display: flex;
    align-items: center;
  }
}
.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8rem;
}
.nav__link{
  color: var(--background-color);
  font-weight: var(--font-medium);
  transition: color .8s;
}
.nav__link:hover{
  color: var(--color-primary);
}
.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* Show menu */
.show-menu{
  right: 0;
}


/* Add blur to header */
.blur-header{
  background-color: rgba(0, 0, 0, 0.5);
  
}
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0 0% 10% .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}
/* Active link */

.active-link{
  color: var(--color-primary);
}

/*=============== DETALLES ===============*/
.detalles{
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}
.detalles__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detalles__capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.6;
  /* mix-blend-mode: overlay; */
}
.detalles__contenido{
  display: flex;
  flex-direction: column;
  color: var(--text-color-white);
  max-width: 80rem;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
 
}
.detalles__contenido h1{
  color: var(--color-primary);
  font-weight: 600;
  font-size: var(--bigger-font-size);
  text-align: center;
}
.detalles__contenido h2{
  color: var(--text-color-white);
  font-weight: 600;
  font-size: var(--biggest-font-size);
  text-align: center;
  margin-block: 4rem 2rem;
  
}
.detalles__contenido-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 6rem 1rem 0rem 1rem;
}

.detalles__contenido-text{
  color: var(--color-primary); 
  text-align: center;
  font-size: var(--h2-font-size);
  
}


.detalles__contenido-info p:first-of-type{
  color: var(--text-color-white);
  text-align: center;
  font-size: var(--normal-font-size);
  text-align: justify;
}

.detalles__contenido img{
  max-width: 100%;
  color: var(--text-color-white); 
  border-radius: .8rem;
}
.detalles__contenido-botton,
.bottom{
  color: var(--text-color-black);
  text-decoration: none;
  padding: 1rem 4rem;
  background-color: var(--color-primary);
  border-radius: .3rem;
  margin-top: 3rem;
  font-size: var(--h3-font-size);
  transition: background .5s;
  margin-bottom: 2rem;
}
.detalles__contenido-botton:hover{
  background-color: var(--color-black);
  color: var(--color-primary);
}

/*=============== OBJETIVOS ===============*/
.objetivos__titulo{
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  font-weight: bold;
}
.objetivos__container{
  row-gap: 2.5rem;
}
.objetivos__container-contenido{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.objetivos__container-contenido h2{
  line-height: 1;
  font-weight: 600;
  
}
.objetivos__container-contenido p{
  text-align: justify;
}
.objetivos__container-imagen{
 display: flex;
 justify-self: center;
}

/*=============== PREMIOS ===============*/
  .premios{
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .premios__titulo{
    text-align: center;
    color: var(--color-black);
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: var(--h3-font-size);
  }
  .premios__container{
    grid-template-columns: 100%;
    justify-content: center;
    row-gap: 2rem;
  }
  .premios__card{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
    flex: 1;
    
  }
  .premios__icono{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
  }
  .premios__icono img{
    max-width: 6rem;
    align-self: end;
  }
  .premio__lugar,
  .premios__list{
   margin-inline: 2rem ;
  }
  .premio__lugar{
    margin-top: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: var(--h3-font-size);
  }
  .premios__list{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-bottom: 2rem;
  }
  .premios__item{
    display: flex;
    column-gap: .5rem;
    align-items: center;
  }
  .premios__item i{
    color: var(--color-primary);
    font-size: 1.25rem;
  }
  .premios__item-opacity{
    opacity: .3;
  }
  .bottom{
    margin-bottom: 0;
    border-radius: .5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .bottom:hover,
  .form__button:hover{
    color: var(--text-color-white);
  }
  .bottom:active,
  .form__button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

/*=============== PATROCINADORES ===============*/
.patrocinadores{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.patrocinadores h2{
  text-align: center;
  margin-bottom: 3rem;
  font-size: var(--font-regular);
  font-weight: 600;
}
.patrocinadores_container{
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 30rem;
}
/*=============== EDICIONES PASADAS ===============*/
.ediciones{
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ediciones h2{
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-bottom: 2rem;
}
.ediciones h3{
  margin-bottom: .5rem;
}
.ediciones_container iframe{
  max-width: 100%;
  border-radius: 1rem;
  border: 4px solid var(--color-primary);
}
/*=============== FORMULARIO ===============*/
.form,
.form__group{
  display: grid;
  row-gap: 1rem;
}
.formulario h2{
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.form{
  position: relative;
  width: 80%;
  margin-right: 3rem;
}
.form__container{
  display: flex;
  width: 100%;
  justify-content: center;
}
.form__input{
  padding: 1rem 1.25rem;
  border-radius: .5rem; 
  background-color: var(--color-black);
  color: var(--background-color);
  
}
.form__input::placeholder{
  color: var(--text-color-secundary);
}
.form textarea{
  height: 11rem;
  resize: none;
  margin-bottom: 1rem;
}
.form__button{
  justify-self: center;
  cursor: pointer;
  border-radius: .5rem;
}
.form__message{
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.form__button{
  background-color: var(--color-primary);
  padding: 1rem 3rem;
}

/*=============== FOOTER ===============*/
.footer{
  background-color: var(--background-footer);
  color: var(--text-color-white);
}
.footer__container{
  margin-inline: 1rem;
}
.group__img{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1rem;
}

.group__img img{
  max-width: 10rem; 
  margin-top: 2rem;
}
.group__img p{
  font-size: var(--normal-font-size);
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-block: 1rem;
}
.group__iconos{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-inline: 1rem;
}
.group__iconos a{
  color: var(--background-color);
}
.footer__text,
.iconos{
  margin-bottom: 2rem;
}
.iconos{
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}
.footer__text{
  display: flex;
  gap: 1.5rem;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 12%, 25%);
}
::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(228, 8%, 35%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 8%, 70%);
}
/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50rem;
  background-color: var(--body-color);
  padding: 6px;
  display: inline-flex;
  border-radius: .25rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4) ;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}
.scrollup:hover{
  transform: translateY(-.25rem);
}
/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}
@media (min-width: 1000px){
  .section{
    padding-bottom: 7rem 2rem;
  }
  .section__subtitle{
    font-size: var(--normal-font-size);
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__logo{
    margin-left: 1rem;
  }
  .nav a{
    display: flex;
    align-items: center;
  }
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link{
  color: var(--text-color-white);
  }
  .nav__menu{
    width: initial;
    margin-right: 1rem;
  }
  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
  .detalles__contenido-info{
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }
  .detalles__contenido-text{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 56ch;
    animation: typing 3s steps(56),
    blink .5s infinite step-end alternate;
    overflow: hidden;
  }
  @keyframes typing{
    from {width: 0;}
  }
  @keyframes blink {
    50% {border-color: transparent;}
  }
  .objetivos__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .objetivos__container-imagen{
    margin-inline: 2rem;
    height: 100%;
  }
  .objetivos__container-contenido{
    flex-direction: column;
    gap: 2rem;
    order: 1;
    margin-inline: 2rem;
  
  }
  .premios__container{
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 2rem;
    margin-inline: 2rem;
  }
  .patrocinadores_container{
    max-width: 40rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .ediciones_container iframe{
    width: 600px;
    height: 350px;
  }
  .form__container{
    grid-template-columns: 680px;
    padding-block: 2.5rem 2rem;
  }
  .formulario h2{
    margin-bottom: 0;
  }
  .form{
    row-gap: 1.5rem;
    width: 70%;
    margin-right: 0;
  }
  .form__group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .form__input{
    padding: 1.5rem;
  }
  .form textarea{
    height: 20rem;
  }
  .footer__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .group__img,
  .group__iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .group__img p{
    margin-top: 2rem;
    
  }
  .container{
    margin-inline: auto;
  }
  .scrollup{
    right: 3rem;
  }
  .active-link{
    color: var(--color-primary);
  }

}
@media screen and (min-width: 1152px){
  
}